* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
  width: 100vw;
  /* background-color: skyblue; */
}


#game div {
  border: 1px solid black;
  width: 200px;
  height: 200px;
  margin: 10px;
  display: inline-block;
}

.header {
  display: flex;
  justify-content: center;
  background-color: blueviolet;
  margin-bottom: 5rem;
  height: 10vh;
  align-items: center;
  color: white;

}

.main-container {
  /* border: 2px solid green; */
  display: flex;
  justify-content: center;
}

.container {
  /* border: 2px solid black; */
  display: flex;
  width: 75%;
  /* flex-direction: row; */
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

#game {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

h2 {
  display: none;
}
h2 {
  justify-content: center;
  align-items: center;
  text-align: center;
  /* font-size: large; */
}
.success {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

@media screen and (max-width: 500px) {
  .container{
    height: 90vh;
    border: 1px solid green;
  }

  .main-container{
    border: 1px solid black;
  }
}

